<% include ../partials/header %>

<!--<div class="container">-->
    <h1 style="text-align: center">Add a Blog Post for Your Viewers</h1>
    <div class="row">
        <div style="width:60%; margin: 25px auto;">
    
    
            <form action="/registry/<%= youtuber._id %>/blogs" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="My Current Thoughts on Fortnite">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea class="form-control" type="text" name="content" id="content" rows="15" placeholder="Fortnite has been great so far!  I love playing with everyone on my discord..."></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
                
                
                
                </form>
                <p><a href = "/registry/<%= youtuber._id %>">Go Back</a></p>
        </div>
        
        
    </div>
<!--</div>-->

    
<% include ../partials/footer %>