
       </div>
        
        
        <script>
      $('#content').summernote({
        placeholder: 'Hello bootstrap 4',
        tabsize: 2,
        height: 600
      });
    </script>

    </body>        
</html>