<% include ../partials/header %>

<!--<div class="container">-->
    <h1 style="text-align: center">Create a Schedule</h1>
    <div class="row">
        <div style="width:40%; margin: 25px auto;">
    
    
            <form action="/registry/<%= youtuber._id %>/schedule" method="POST">
                <div class="form-group">
                    <label for="uploads">Uploads</label>
                    <input class="form-control" type="text" name="schedule[uploadFrequency]" id="uploads" placeholder="Upload Frequency">
                </div>
                <div class="form-group">
                    <label for="streamLocation">Stream Location</label>
                    <input class="form-control" type="text" name="schedule[streamLocation]" id="streamLocation" placeholder="Stream Location">
                </div>
                <div class="form-group">
                    <label for="sunday">Sunday</label>
                    <input class="form-control" type="text" name="schedule[sunday]" id="sunday" placeholder="Stream Schedule on Sunday">
                </div>
                <div class="form-group">
                    <label for="monday">Monday</label>
                    <input class="form-control" type="text" name="schedule[monday]" id="monday" placeholder="Stream Schedule on Monday">
                </div>
                <div class="form-group">
                    <label for="tuesday">Tuesday</label>
                    <input class="form-control" type="text" name="schedule[tuesday]" id="tuesday" placeholder="Stream Schedule on Tuesday">
                </div>
                <div class="form-group">
                    <label for="wednesday">Wednesday</label>
                    <input class="form-control" type="text" name="schedule[wednesday]" id="wednesday" placeholder="Stream Schedule on Wednesday">
                </div>
                <div class="form-group">
                    <label for="thursday">Thursday</label>
                    <input class="form-control" type="text" name="schedule[thursday]" id="thursday" placeholder="Stream Schedule on Thursday">
                </div>
                <div class="form-group">
                    <label for="friday">Friday</label>
                    <input class="form-control" type="text" name="schedule[friday]" id="friday" placeholder="Stream Schedule on Friday">
                </div>
                <div class="form-group">
                    <label for="saturday">Saturday</label>
                    <input class="form-control" type="text" name="schedule[saturday]" id="saturday" placeholder="Stream Schedule on Saturday">
                </div>
                <div class="form-group">
                    <label for="timeZone">Time Zone</label>
                    <input class="form-control" type="text" name="schedule[timeZone]" id="timeZone" placeholder="All Times US Central">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
                
                
                
                </form>
                <p><a href = "/registry/<%= youtuber._id %>">Go Back</a></p>
        </div>
        
        
    </div>
<!--</div>-->
    
<% include ../partials/footer %>